/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

.fa-person {
  font-size: 22px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
}

header {
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  height: 19px;
  width: 61px;
}

.divLogo {
  height: 79px;
  width: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 35px;
  width: 344px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.menu {
  height: 35px;
  width: 244px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

li {
  margin: 0;
  padding-top: 16px;
  font-size: 16px;
  border-top: 2px solid rgba(255, 255, 255, 0);
}

li:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 35px;
}

.section-search-filter {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  gap: 35px;
}

.fa-location-dot {
  color: black;
  align-items: center;
  height: 49px;
  width: 50px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
}

.rechercher {
  height: 50px;
  width: 355px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#btn {
  margin: 0;
  padding: 15px;
  color: white;
  font-weight: 700;
  height: 50px;
  border: 1px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
}

#btnResponsive {
  display: none;
}
.fa-magnifying-glass {
  color: white;
}

.input-rechercher {
  margin: 0;
  padding: 0;
  height: 50px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: none;
  outline: none;
  font-weight: 700;
  text-align: center;
}

.filters-container {
  height: 50px;
  width: 100%;
  margin: 0;
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters-container div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.filters {
  margin: 0;
  height: 50px;
  gap: 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 19px 4px 19px;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px 25px 25px 25px;
  font-weight: 700;
  font-size: 1.1rem;
  text-wrap: nowrap;
}

.filters:hover {
  background-color: #deebff;
}

.place-available {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 12px 12px 12px 12px;
  font-size: 10px;
}

p {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  padding-right: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  gap: 30px;
}
.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 33px;
  gap: 30px;
}
.hebergements-cards .card {
  padding-bottom: 15px;
}
.hebergements-cards img {
  height: 125px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  gap: 8px;
}

.hebergements-cards h3 {
  margin: 0;
  padding: 0;
}

.hebergements-cards .card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités à Marseille ******/
.marseille-activities {
  padding: 30px;
}
.activities-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.activities-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activities-cards .card {
  padding: 0;
  border-radius: 20px 20px 20px 20px;
}

.activities-cards h3 {
  margin: 0;
  padding: 20px;
}

/****** Footer ******/

footer {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}
footer div {
  height: auto;
  width: 33%;
  flex-direction: column;
  display: flex;
  gap: 15px;
  padding: 20px;
}
footer h3 {
  margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
    gap: 35px;
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 100%;
  }
  .menu {
    width: 100%;
  }
  li {
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 16px;
  }
  li:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
  .section-search-filter {
    padding-left: 20px;
    padding-right: 20px;
  }
  .filters-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .filters-container div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .populaires {
    border-radius: 0 !important;
  }

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements {
    background-color: white !important;
    border-radius: 0 !important;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 30px;
  }

  main {
    margin: 0;
    padding: 0;
    gap: 15px;
  }

  .marseille-activities {
    padding: 20px;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
  }
  .activities-cards .card {
    height: 207px;
  }
  .activities-cards img {
    height: 124px;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
  }
  .populaires-cards .card {
    width: 100%;
  }
  .populaires-cards a {
    width: 100%;
  }
  #btn {
    display: none;
  }

  #btnResponsive {
    display: inline;
    margin: 0;
    padding: 15px;
    color: white;
    font-weight: 700;
    height: 50px;
    border: 1px solid #0065fc;
    background-color: #0065fc;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.15));
    margin-left: -15px;
  }
  .fa-magnifying-glass {
    color: white;
  }
  .input-rechercher {
    padding-right: 25px;
    padding-left: 25px;
  }
  .filters-container {
    align-items: inherit;
  }
  .filters {
    justify-content: inherit;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
  }

  footer div {
    height: auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 15px;
    padding: 20px;
  }
}
